.hero {
	z-index: 200;
}

.header {
	z-index: 999;
}

.footer {
	z-index: 999;
}

@media ( max-width : 1750px) {
	.nav-buttons {
		visibility: hidden;
	}
}

#addBoard {
	position: fixed;
	top: 85%;
	left: 85%;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	z-index: 1000;
	display: flex;
}

#addBoard span{
	font-weight: 900;
	font-size: 45px;
	transform: translateX(5.5px) translateY(-13px);
}