body {
	margin-top: 60px;
}


.hero {
	z-index: 200;
}

.header {
	z-index: 999;
}

.footer {
	z-index: 999;
}

.boardTitle {
	margin-bottom: 40px;
	text-align: center;
}

.boardTitle__title {
	color: black;
	line-height: 64px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
	z-index: 2;
	position: relative;
	font-size: 55px;
	font-weight: bolder;
}

.boardContent {
	margin: 0 auto;
}

.picture {
	margin: 0 auto;
	width: 1100px;
	height: 618.75px;
}

.img-fluid {
	width: 1100px;
	height: 618.75px;
	object-fit: contain;
}

.boardInfo {
	margin: 0 auto;
	max-width: 720px;
	font-size: 18px;
}

.boardContent_text {
	margin: 0 auto;
	max-width: 720px;
}

#updateBtn, #deleteBtn{
	width: 70px;
	height: 35px;
	font-size: 16px;
	margin-top: 40px;
	margin-right: 5px;
}

.nav-buttons {
	position: fixed;
	z-index: 100;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
}

@media (max-width: 1640px) {
    .nav-buttons {
        visibility: hidden;
    }
}

#detailPrevPageBtn {
	width: 50px;
	height: 50px;
	font-size: 50px;
	text-align: center;
	margin-left: 200px;
	border-radius: 25px;
	padding: 0 0 90px 0;
}

#detailNextPageBtn {
	width: 50px;
	height: 50px;
	font-size: 50px;
	text-align: center;
	margin-right: 200px;
	border-radius: 25px;
	padding: 0 0 90px 0;
}

#addPlusBoard {
	width: 50px;
	height: 50px;
	font-size: 50px;
	text-align: center;
	margin-right: 200px;
	border-radius: 25px;
	padding: 0 0 90px 0;
}

