.comments-container {
    max-width: 600px;
    margin: 200px auto 0; /* 헤더의 높이를 고려하여 상단 마진 추가 */
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.comments-container h2 {
    text-align: center;
    margin-bottom: 20px;
}



.comment {
    
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.comment p {
    margin: 5px 0;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comment-button, .reply-button {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    border: none; /* 테두리 제거 */
}

.comment-button:hover, .reply-button:hover {
    background-color: #0056b3;
}

.reply-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.reply {
    background: #f1f1f1; /* 원본 댓글과 구분되는 배경색 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05); /* 조금 더 연한 그림자 */
}

.reply-list {
    margin-left: 20px; /* 원본 댓글과 구분을 위한 들여쓰기 */
    padding-left: 10px;
    border-left: 2px solid #ddd; /* 좌측 경계선 추가 */
    margin-top: 10px;
}

.profile-image {
    width: 50px; /* 프로필 이미지의 너비 */
    height: 50px; /* 프로필 이미지의 높이 */
    border-radius: 50%; /* 원형으로 만들기 */
    margin-right: 15px; /* 이미지와 텍스트 사이의 간격 */
}