.comments-container {
    margin: 100px auto 0; /* 헤더의 높이를 고려하여 상단 마진 추가 */
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.comments-container h2 {
    text-align: center;
    margin-bottom: 20px;
}



.comment {
    
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem; /* 댓글 입력란의 글자 크기 조정 */
}

.comment p {
    margin: 8px 0; /* 상하 간격을 좀 더 넓게 조정 */
    font-size: 1.5rem; /* 글자 크기를 좀 더 크게 조정 */
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1.5rem; /* 댓글 입력란의 글자 크기 조정 */
}

.comment-button, .reply-button {
    padding: 7px 20px; /* 버튼 크기 조정 */
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-right: 10px; /* 버튼 간의 간격 조정 */
    border: none; /* 테두리 제거 */
    font-size: 1.5rem; /* 버튼의 글자 크기 조정 */
    margin-top: 10px; /* 하트와 버튼들 사이에 간격 추가 */
    
}

.comment-button:hover, .reply-button:hover {
    background-color: #0056b3;
}

.reply-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.reply {
    background: #f1f1f1; /* 원본 댓글과 구분되는 배경색 */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05); /* 조금 더 연한 그림자 */
}

.reply-list {
    margin-left: 20px; /* 원본 댓글과 구분을 위한 들여쓰기 */
    padding-left: 10px;
    border-left: 2px solid #ddd; /* 좌측 경계선 추가 */
    margin-top: 10px;
}

.profile-image {
    width: 60px; /* 프로필 이미지의 너비 */
    height: 60px; /* 프로필 이미지의 높이 */
    border-radius: 50%; /* 원형으로 만들기 */
    vertical-align: middle;
}



/* 팝업 컨테이너 스타일 */
#profilePopup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* 더 부드러운 그림자 */
    padding: 15px;
    z-index: 1000;
    width: 220px; /* 팝업의 너비를 약간 늘림 */
}

/* 팝업 내부 컨텐츠 스타일 */
.profile-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* 프로필 이미지 스타일 */
.profile-popup-content img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out; /* 호버 시 애니메이션 추가 */
}

.profile-popup-content img:hover {
    transform: scale(1.8); /* 호버 시 크기 증가 효과 */
}

/* 닉네임 스타일 */
.profile-popup-content p {
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* 버튼 스타일 */
.profile-popup-content button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%; /* 버튼이 팝업의 너비에 맞게 확장 */
}

/* 프로필 보기 버튼 스타일 */
.profile-popup-content .view-profile-button {
    border: 1px solid #3897f0;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    background: #3897f0;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    width: 100%; /* 버튼 너비를 팝업 너비에 맞춤 */
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}




/* 팔로우 상태 버튼 (파란색) */
.profile-popup-content .follow_btn {
    border: 1px solid #3897f0;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    background: #3897f0;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    width: 100%; /* 버튼 너비를 팝업 너비에 맞춤 */
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}

/* 팔로잉 상태 버튼 (흰색) */
.profile-popup-content .following_btn {
    border: 1px solid #3897f0;
    border-radius: 3px;
    color: black;
    font-weight: 600;
    background: white;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    width: 100%; /* 버튼 너비를 팝업 너비에 맞춤 */
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}

.heart-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px; /* 하트 아이콘과 답글 버튼 사이 간격 조절 */
}

.heart-btn i {
    font-size: 2rem; /* 하트 아이콘 크기 */
    margin-right: 5px; /* 아이콘과 숫자 사이의 간격 */
}

.heart-count {
    font-size: 1.5rem; /* 좋아요 숫자 크기 더 크게 */
    margin-right: 15px; /* 좋아요 숫자와 답글 버튼 사이 간격 조절 */
}

/*댓글리스트 로딩 이미지*/
.loader {
    width: 600px;
    aspect-ratio: 10;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }