<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.picmap.app.member.MemberDAO" >
  <select id="idCheck" parameterType="MemberDTO" resultType="java.lang.Integer">
  		SELECT	COUNT(MEMBERID)
  		FROM	MEMBER
  		WHERE	MEMBERID = #{memberId}
  	</select>
  	
  	  <select id="memberNickName" parameterType="MemberDTO" resultType="java.lang.Integer">
  		SELECT	COUNT(MEMBERNICKNAME)
  		FROM	MEMBER
  		WHERE	MEMBERNICKNAME = #{memberNickName}
  	</select>
  	
   	<insert id="join" parameterType="MemberDTO">
   	
   		INSERT INTO MEMBER 
   		VALUES(MEMBER_SEQ.NEXTVAL,#{memberId},#{memberName},#{memberPassword},#{memberBirth},#{memberNickName},#{memberEmail},#{memberPhone},#{profilePath})
   	
   	</insert>
   
   <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
   	
   	SELECT MEMBERID,MEMBERPASSWORD,MEMBERNAME 
   	FROM MEMBER 
   	WHERE MEMBERID = #{memberId}
   
   </select>
   
  
  
  
  
  
  
  
  </mapper>