<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.picmap.app.member.MemberDAO" >
  <select id="idCheck" parameterType="MemberDTO" resultType="java.lang.Integer">
  		SELECT	COUNT(MEMBERID)
  		FROM	MEMBER
  		WHERE MEMBERID = #{memberId} 
  	</select>
  	
  	  <select id="memberNickName" parameterType="MemberDTO" resultType="java.lang.Integer">
  		SELECT	COUNT(MEMBERNICKNAME)
  		FROM	MEMBER
  		WHERE	MEMBERNICKNAME = #{memberNickName}
  	</select>
  	
   	<insert id="join" parameterType="MemberDTO">
   	
   		INSERT INTO MEMBER 
   		VALUES(MEMBER_SEQ.NEXTVAL,#{memberId},#{memberName},#{memberPassword},#{memberBirth},#{memberNickName},#{memberEmail},#{memberPhone},#{profilePath})
   	
   	</insert>
   
   <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
   	
   	SELECT MEMBERNUM,MEMBERID,MEMBERPASSWORD,MEMBERNAME 
   	FROM MEMBER 
   		WHERE MEMBERID= #{memberId} 
   
   </select>
   
	<update id="update" parameterType="MemberDTO" >
		UPDATE MEMBER SET MEMBERNAME=#{memberName} ,MEMBERBIRTH=#{memberBirth},
		MEMBERNICKNAME=#{memberNickName},MEMBEREMAIL=#{memberEmail},MEMBERPHONE=#{memberPhone},
		PROFILEPATH=#{profilePath}
			WHERE MEMBERID = #{memberId} 
	</update>
	
  <select id="detail" parameterType="MemberDTO"   resultType="MemberDTO">
		SELECT MEMBERNUM,MEMBERNAME,MEMBERPASSWORD,MEMBERBIRTH,MEMBERNICKNAME,MEMBEREMAIL,MEMBERPHONE,PROFILEPATH
		FROM MEMBER
		WHERE MEMBERNUM = #{memberNum} 
</select>
		
 	<delete id="delete" parameterType="MemberDTO">
		DELETE MEMBER 	WHERE MEMBERNUM = #{memberNum} }
	</delete> 
	
	<insert id="follow" parameterType="FollowDTO"	>
		INSERT INTO FOLLOW
		VALUES(FOLLOW_SEQ.NEXTVAL,#{fromFollow},#{toFollow})
	</insert>
	
	<select id="fromFollow" parameterType="MemberDTO"  resultType="java.lang.Long">
	SELECT COUNT(FOLLOWNUM) FROM FOLLOW  WHERE FROMFOLLOW =#{memberNum}
	</select>
	
	<select id="toFollow" parameterType="MemberDTO"  resultType="java.lang.Long">
	SELECT COUNT(FOLLOWNUM) FROM FOLLOW  WHERE TOFOLLOW =#{memberNum}
	</select>
	
	<select id="followCheck" parameterType="FollowDTO" resultType="java.lang.Integer">
	SELECT COUNT(FOLLOWNUM) FROM FOLLOW WHERE FROMFOLLOW = #{fromFollow} AND TOFOLLOW = #{toFollow}
	</select>
		<delete id="followDelete" parameterType="FollowDTO">
		DELETE FOLLOW 	WHERE FROMFOLLOW = #{fromFollow} AND TOFOLLOW = #{toFollow}
	</delete> 
	<select id="fromFollowList" resultType="MemberDTO" parameterType="FollowDTO">
	SELECT *
FROM
(
	SELECT ROWNUM R, M.*
	FROM
	(
		SELECT  *
		FROM MEMBER
	) M
	WHERE MEMBERNUM IN
	(
		SELECT FROMFOLLOW
		FROM FOLLOW
		WHERE TOFOLLOW =#{toFollow}
	)
)
WHERE R BETWEEN 1 AND 10
	
</select>
		<select id="toFollowList" resultType="MemberDTO" parameterType="FollowDTO">
		
			SELECT *
FROM
(
	SELECT ROWNUM R, M.*
	FROM
	(
		SELECT  *
		FROM
		(
		SELECT *
		FROM MEMBER
		)
	) M
	WHERE MEMBERNUM IN
	(
		SELECT TOFOLLOW
		FROM FOLLOW
		WHERE FROMFOLLOW =#{fromFollow}
	)
)
WHERE R BETWEEN 1 AND 10

</select>

  </mapper>