<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper	namespace="com.picmap.app.notice.NoticeDAO">

	<select id="getMemberDTO" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT MEMBERID, MEMBERNAME, MEMBERNICKNAME, PROFILEPATH FROM MEMBER WHERE MEMBERNUM=#{boardNum}
	</select>
	
	<select id="getList" resultType="NoticeDTO">
		SELECT N.*, M.MEMBERID, M.MEMBERNICKNAME 
		FROM NOTICE N
			 LEFT JOIN
			 MEMBER M
			 ON N.MEMBERNUM = M.MEMBERNUM
		ORDER BY BOARDNUM DESC
	</select>
	
	<insert id="add" parameterType="BoardDTO">
  		INSERT INTO NOTICE
  		VALUES
  		(BOARDNUM_SEQ.NEXTVAL, #{memberNum}, #{boardTitle}, #{boardContent}, SYSDATE, SYSDATE, 0, #{fileName, jdbcType=VARCHAR})
	</insert>

	<select id="getDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
		SELECT	* 
		FROM	NOTICE
		WHERE	BOARDNUM = #{boardNum}
	</select>












</mapper>

