<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper는 테이블 별로 하나씩 만들 거다. namespace는 중복되면 안된다. -->
<mapper namespace="sampleMapper">
	<!-- SELECT * FROM ITEMS WHERE ITEM_ID = ? -->
</mapper>