<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper	namespace="com.picmap.app.travel.TravelDAO">
	
	<select id="getTotalCount" resultType="java.lang.Long">
		SELECT	COUNT(BOARDNUM)
		FROM	TRAVEL
		WHERE	BOARDNUM = ROOTBOARD
	</select>
	
	<select id="getList" resultType="TravelDTO" parameterType="Scroller">
		SELECT 	*
		FROM 	(
			SELECT  ROWNUM R, TM.*
			FROM 	(
				SELECT T.*, M.MEMBERID, M.MEMBERNICKNAME 
				FROM TRAVEL T
					 LEFT JOIN
					 MEMBER M
					 ON T.MEMBERNUM = M.MEMBERNUM
				WHERE PARENTBOARD IS NULL
				ORDER BY BOARDNUM DESC
			)TM
		)
		WHERE R BETWEEN #{startRow} AND #{endRow}
	</select>
	
	
	<insert id="add" parameterType="TravelDTO">
  		INSERT INTO TRAVEL
  		VALUES
  		(#{boardNum}, #{memberNum}, #{boardTitle}, #{boardContent}, SYSDATE, SYSDATE, 0,
  		#{fileName, jdbcType=VARCHAR}, #{rootBoard}, #{parentBoard, jdbcType=BIGINT}, #{childBoard, jdbcType=BIGINT}, #{pingNum, jdbcType=BIGINT})
	</insert>
	
	
	<select id="makeBoardNum" resultType="java.lang.Long">
		SELECT BOARDNUM_SEQ.NEXTVAL FROM DUAL
	</select>
	
	
	<update id="addPlus" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET
		CHILDBOARD=#{boardNum}
		WHERE BOARDNUM=#{parentBoard}
	</update>

	
	<select id="detail" parameterType="TravelDTO" resultType="TravelDTO">
		SELECT T.*, TO_CHAR(CREATEDATE, 'YYYY"년" MM"월" DD"일"') AS writeDate
		FROM TRAVEL T
		WHERE BOARDNUM=#{boardNum}
	</select>

	<update id="hit" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET HIT = HIT + 1
		WHERE BOARDNUM = #{boardNum}
	</update>
	
	<delete id="delete" parameterType="TravelDTO">
		DELETE TRAVEL
		WHERE BOARDNUM = #{boardNum}
	</delete>
	<update id="adoption1" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET CHILDBOARD=#{childBoard}
		WHERE BOARDNUM=#{parentBoard}
	</update>
	<update id="adoption2" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET PARENTBOARD=#{parentBoard}
		WHERE BOARDNUM=#{childBoard}
	</update>
	<update id="adoption3" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET CHILDBOARD=NULL
		WHERE BOARDNUM=#{parentBoard}
	</update>
	
	
	<delete id="deleteAll" parameterType="TravelDTO">
		DELETE TRAVEL
		WHERE ROOTBOARD = #{rootBoard}
	</delete>	




</mapper>

