<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper	namespace="com.picmap.app.travel.TravelDAO">
	
	<select id="getList" resultType="TravelDTO">
		SELECT T.*, M.MEMBERID, M.MEMBERNICKNAME 
		FROM TRAVEL T
			 LEFT JOIN
			 MEMBER M
			 ON T.MEMBERNUM = M.MEMBERNUM
		ORDER BY BOARDNUM DESC
	</select>
	
	<insert id="add" parameterType="TravelDTO">
  		INSERT INTO TRAVEL
  		VALUES
  		(#{boardNum}, #{memberNum}, #{boardTitle}, #{boardContent}, SYSDATE, SYSDATE, 0,
  		#{fileName, jdbcType=VARCHAR}, 0, #{rootBoard}, #{parentBoard, jdbcType=BIGINT}, #{childBoard, jdbcType=BIGINT}, #{pingNum, jdbcType=BIGINT})
	</insert>
	
	<select id="makeBoardNum" resultType="java.lang.Long">
		SELECT BOARDNUM_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<update id="addPlus1" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET
		PARENTBOARD=#{parentBoard}
		WHERE BOARDNUM=#{boardNum}
	</update>
	<update id="addPlus2" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET
		CHILDBOARD=#{childBoard}
		WHERE BOARDNUM=#{parentBoard}
	</update>

	<select id="getRoot" resultType="TravelDTO">
		SELECT BOARDNUM, PARENTBOARD, CHILDBOARD, ROOTBOARD
		FROM TRAVEL
		WHERE BOARDNUM=#{boardNum}
	</select>
	<update id="setRoot" parameterType="TravelDTO">
		UPDATE TRAVEL
		SET
		ROOTBOARD=#{rootBoard}
		WHERE BOARDNUM=#{boardNum}
	</update>









</mapper>

